.text-input {
	padding: 0.5rem;
	border: 1px grey solid;
	border-radius: 5px;
}

.btn {
	padding: 0.5rem;
	background-color: #238636;
	color: white;
	border: 1px grey solid;
	border-radius: 5px;
}

.btn:hover {
	background-color: #2ea043;
}

.hidden {
	visibility: hidden;
}

.card {
	border: 1px grey solid;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin: auto;

	background-color: #f8f8f8;

	display: flex;
	flex-direction: column;
}

.card .title {
	padding: 0.25em;
	border-bottom: 1px grey solid;

	font-weight: bold;
	color: #425e9c;
}

.card .body {
	padding: 0.5rem;
}
